
/* Your CSS Code here. */
th{
	border:1px solid black;
	text-align:left;
}
td{
	border:1px solid black;
	text-align:right;
}
table{
	border-collapse:collapse;
	width:75%;
}
#part{
	background-color:#c0504d;
	color:white;
}
#waist{
	background-color:#da9694;
	color:white;
}
#chest{
	background-color:#f2dcdb;
}
#sleeve{
	background-color:#d9d9d9;
}